root = true

[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,html,xhtml,svg}]
indent_size = 2
end_of_line = lf

[*.{css,scss,sass,less}]
indent_size = 2
end_of_line = lf

[*.{js,jsx,ts,tsx,cjs,mjs}]
indent_size = 2
end_of_line = lf

[*.{json,yml,yaml}]
indent_size = 2
end_of_line = lf

[*.{md,markdown}]
end_of_line = lf
